%h3
  = title
%hr
- if kegs.present?
  %table.table.table-hover.table-stripped.beer-table
    %thead
      %tr
        %th

        %th
          Beer
        %th
          Origin
        %th
          Style
        %th
          ABV

        - if tappable
          %th


        -else
          %th
            Tapped On
          %th
            Finished On



    %tbody
      - available_taps = org.taps.available
      - kegs.each do |keg|
        %tr
          %td.text-center.mid
            = image_tag(keg.beer.image_url(:small).to_s)
          %td.mid
            = keg.beer.name
          %td.mid
            = keg.beer.origin
          %td.mid
            = keg.beer.style
          %td.mid
            = "#{keg.beer.abv}%"
          - if tappable
            %td.mid
              .text-center
                - if available_taps.present? && current_user.present? && current_user.member_for(org)
                  .keg-tapped.btn.btn-success.btn-sm{'data-org-id' => org.id, 'data-keg-id' => keg.id }
                    Tap Keg!
                  %br
                  on
                  = collection_select "keg-#{keg.id}", :tap_id, org.taps.available, :id, :name
          -else
            %td.mid
              = format_date(keg.tapped_date)
            %td.mid
              = format_date(keg.finished_date)



- else
  No kegs present...