%h3
  = title
%hr

- if kegs.present?
  %table.table.table-hover.table-stripped.beer-table
    %thead
      %tr
        %th

        %th
          Beer
        %th
          Style
        %th
          ABV
        %th
          Tapped On
        %th
          Finished On

    %tbody
      - kegs.each do |keg|
        %tr
          %td.text-center.mid
            = image_tag("beer.png", size: "50x50")
          %td.mid
            = keg.beer.name
          %td.mid
            = keg.beer.style
          %td.mid
            = "#{keg.beer.abv}%"
          %td.mid
            = format_date(keg.tapped_date)
          %td.mid
            = format_date(keg.finished_date)
- else
  No kegs present...