%h3 On Tap
%hr
- @org.taps.each_slice(3) do |taps|
  .row
  - taps.each do |tap|
    .col-lg-4
      .on-tap.panel
        .panel-heading.text-center
          - if tap.keg.present?
            = image_tag("beer-tap.jpg", size: "200x200")
          - else
            = image_tag("beer-tap-empty.jpg", size: "200x200")

        .panel-body{style: "height: 9em"}
          - if tap.keg.present?
            .row
              .col-lg-3
                Beer:
              .col-lg-9.text-right
                = tap.keg.beer.name
            .row
              .col-lg-3
                Style:
              .col-lg-9.text-right
                = tap.keg.beer.style
            .row
              .col-lg-3
                ABV:
              .col-lg-9.text-right
                = "#{tap.keg.beer.abv}%"
            .row
              .col-lg-3
                Tapped:
              .col-lg-9.text-right
                = format_date(tap.keg.tapped_date)
            .row
              .col-lg-12.text-right
                .tap-empty.btn.btn-danger.btn-xs{ 'data-tap-id' => tap.id, 'data-org-id' => @org.id }
                  Empty!

          - else
            .row
              .col-lg-12.text-center
                %br
                Tap Empty...
                %br
                Annoy your Keg Master!!!



        .panel-footer.text-center
          %h4
            = tap.name