.row
  .col-lg-12
    %h3
      = title
    %hr
    - if user_memberships.present?
      %table.table.table-hover.table-stripped.beer-table
        %thead
          %tr
            %th

            %th
              User
            %th
              Email
            %th

        %tbody
          - user_memberships.each do |membership|
            %tr
              %td.text-center.mid
                = image_tag(membership.user.avatar_url)
              %td.mid
                = membership.user.name
              %td.mid
                = membership.user.email
              %td.mid.text-right
                - if current_user != membership.user
                  = form_for [org, membership], remote: true, html: { class: 'form-inline membership-form', style: 'display: inline;' } do |f|
                    = f.hidden_field :is_kegmeister, value: !membership.is_kegmeister
                    = f.submit 'Kegmeister', class: "btn btn-sm #{'btn-success' if membership.is_kegmeister}"

                  = link_to 'x', [org, membership], remote: true, method: :delete, class: 'btn btn-sm btn-danger membership-delete'




    - else
      No users...