.head
  - if current_user.present?
    .pull-right
      %a.btn.btn-success{href: new_org_path}
        New Org
  %h1
    Organizations

%hr

- @orgs.each_slice(2) do |orgs|
  .org-row.row
    - orgs.each do |org|
      .well.col-lg-5
        - if current_user.present?
          .join.pull-right
            - unless current_user.orgs.include?(org)
              = form_for [org, OrgUserMembership.new(org_id: org.id, user_id: current_user.id)] do |f|
                = f.hidden_field :org_id
                = f.hidden_field :user_id
                = f.submit "Join", class: "btn btn-info btn-sm"

        %h4
          = link_to org.name, org
        = "#{pluralize(org.taps.count, 'tap')} | #{pluralize(org.users.count, 'user')}"
      .col-lg-2
