.container
  .row
    .col-lg-9
      %h1
        = @org.name


  .row
    .col-lg-9
      = cache [current_user, @org, 'show'] do
        .row{style: 'margin-top: 1.75em'}
          .col-lg-12
            %ul.nav.nav-tabs{style: "margin-bottom: 15px;"}
              %li.active
                %a{"data-toggle" => "tab", href: "#keg-in-stock"} Beer In House
              %li
                %a{"data-toggle" => "tab", href: "#previous-kegs"} Previous Kegs
              %li
                %a{"data-toggle" => "tab", href: "#available-beers"} Beer Possibilities
              - if @org.kegmeisters.include?(current_user)
                %li
                  %a{"data-toggle" => "tab", href: "#order-keg"} Manage Kegs
                %li
                  %a{"data-toggle" => "tab", href: "#manage-users"} Manage Members
                %li
                  %a{"data-toggle" => "tab", href: "#manage-org"} Manage Org

            #org-tabs.tab-content
              = cache [current_user.present?, @org, 'keg-in-stock'] do
                #keg-in-stock.tab-pane.active
                  .row
                    .col-lg-12
                      = render 'on_tap'

                  .row
                    .col-lg-12
                      = render 'kegs_list', org: @org, kegs: @org.kegs.backlogged, tappable: true, title: 'Keg Backlog'

              = cache [current_user.present?, @org, 'previous-kegs'] do
                #previous-kegs.tab-pane
                  .row
                    .col-lg-12
                      = render 'kegs_list', org: @org,  kegs: @org.kegs.finished, tappable: false, title: 'Previous Kegs'

              = cache [current_user.present?, @org, 'available-beers'] do
                #available-beers.tab-pane
                  .row
                    .col-lg-12
                      = render 'shared/beer_list', org: @org, beers: @org.beers, title: "Beer Possibilities"

              - if @org.kegmeisters.include?(current_user)
                = cache [current_user, @org, 'order-keg'] do
                  #order-keg.tab-pane
                    = render 'order_keg', org: @org

                = cache [current_user, @org, 'user_list'] do
                  #manage-users.tab-pane
                    = render 'user_list', org: @org, user_memberships: @org.org_user_memberships.includes(:user), title: "Members"

                = cache [current_user, @org, 'edit_form'] do
                  #manage-org.tab-pane
                    = render 'form', org: @org

    .col-lg-3
      = render 'members'
