
.container
  .row
    .col-lg-9
      %h1
        = @org.name


  .row
    .col-lg-9
      .row{style: 'margin-top: 1.75em'}
        .col-lg-12
          %ul.nav.nav-tabs{style: "margin-bottom: 15px;"}
            %li.active
              %a{"data-toggle" => "tab", href: "#keg-in-stock"} Beer In House
            %li
              %a{"data-toggle" => "tab", href: "#previous-kegs"} Previous Kegs
            %li
              %a{"data-toggle" => "tab", href: "#available-beers"} Orderable Beer

          #org-tabs.tab-content
            #keg-in-stock.tab-pane.active
              .row
                .col-lg-12
                  = render 'on_tap'

              .row
                .col-lg-12
                  %h3 Keg Backlog
                  %hr
                  = render 'kegs_list', org: @org, kegs: @org.kegs.backlogged, tappable: true

            #previous-kegs.tab-pane
              = render 'kegs_list', org: @org,  kegs: @org.kegs.finished, tappable: false

            #available-beers.tab-pane
              = render 'beer_list', org: @org




    .col-lg-3
      = render 'members'
