
.container
  .row
    .col-lg-9
      %h1
        = @org.name


  .row
    .col-lg-9
      .row
        .col-lg-12
          = render 'on_tap'

      .row
        .col-lg-12
          = render 'kegs_list', title: "Keg Backlog", org: @org, kegs: @org.kegs.backlogged, tappable: true

      .row
        .col-lg-12
          = render 'kegs_list', title: "Previous Kegs", org: @org,  kegs: @org.kegs.finished, tappable: false


    .col-lg-3
      .row
        .col-lg-12
          %h3 Keg Masters
          %hr
          - @org.kegmasters.each do |user|
            = user.name

      .row
        .col-lg-12
          %h3
            Members
            - if current_user
              .pull-right
                - unless current_user.orgs.include?(@org)
                  = form_for OrgUserMembership.new(org_id: @org.id, user_id: current_user.id) do |f|
                    = f.hidden_field :org_id
                    = f.hidden_field :user_id
                    = f.submit "Join org", class: "btn btn-info btn-sm"
                - else
                  = link_to 'Leave Org', current_user.org_user_memberships.where(org: @org).first, confirm: "Are you sure?", method: :delete, class: "btn btn-danger btn-sm"

          %hr
          - @org.users.each do |user|
            = user.name
