.container
  .row
    .col-lg-9
      %h1
        = @org.name


  .row
    .col-lg-9
      .row{style: 'margin-top: 1.75em'}
        .col-lg-12
          %ul.nav.nav-tabs{style: "margin-bottom: 15px;"}
            %li.active
              %a{"data-toggle" => "tab", href: "#keg-in-stock"} Beer In House
            %li
              %a{"data-toggle" => "tab", href: "#previous-kegs"} Previous Kegs
            %li
              %a{"data-toggle" => "tab", href: "#available-beers"} Available Beer
            - if current_user.try(:kegmeister_for, @org)
              %li
                %a{"data-toggle" => "tab", href: "#order-keg"} Manage Kegs
              %li
                %a{"data-toggle" => "tab", href: "#manage-users"} Manage Members

          #org-tabs.tab-content
            #keg-in-stock.tab-pane.active
              .row
                .col-lg-12
                  = render 'on_tap'

              .row
                .col-lg-12
                  = render 'kegs_list', org: @org, kegs: @org.kegs.backlogged, tappable: true, title: 'Keg Backlog'

            #previous-kegs.tab-pane
              .row
                .col-lg-12
                  = render 'kegs_list', org: @org,  kegs: @org.kegs.finished, tappable: false, title: 'Previous Kegs'

            #available-beers.tab-pane
              .row
                .col-lg-12
                  = render 'beer_list', org: @org, beers: @org.beers, title: "Available Beer"

            - if @org.kegmeisters.include?(current_user)
              #order-keg.tab-pane
                = render 'order_keg', org: @org

              #manage-users.tab-pane
                = render 'user_list', org: @org, user_memberships: @org.org_user_memberships.includes(:user), title: "Members"

    .col-lg-3
      = render 'members'
