- edit_btn ||= false

%h3
  = title
  - if edit_btn
    = link_to 'Edit', users_favorite_beers_path, class: "btn btn-success btn-sm"
%hr
- if beers.present?
  %table.table.table-hover.table-stripped.beer-table
    %thead
      %tr
        %th

        %th
          Beer
        %th
          Origin
        %th
          Style
        %th
          ABV
        - if block_given?
          %th
            / Actions



    %tbody
      - beers.each do |beer|
        %tr
          %td.text-center.mid
            = image_tag(beer.image_url(:small).to_s)
          %td.mid
            = beer.name
          %td.mid
            = beer.origin
          %td.mid
            = beer.style
          %td.mid
            = "#{beer.abv}%"
          - if block_given?
            %td.mid
              = yield beer

- else
  No beer available...