.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %a.navbar-brand{href: "/"} KegUp
      %button.navbar-toggle{"data-target" => "#navbar-main", "data-toggle" => "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #navbar-main.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          %a{href: orgs_path }
            Orgs

      %ul.nav.navbar-nav.navbar-right
        - if current_user.present?
          %li
            %a{href: "#"}
              My Beers
          - available_orgs = current_user.orgs - [@org]
          - if available_orgs.present?
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                = current_user.orgs.include?(@org) ? @org.name : "My Orgs"
                %b.caret
              %ul.dropdown-menu
                - (current_user.orgs - [@org]).each do |org|
                  %li
                    %a{href: org_path(org)}
                      = org.name
          - else
            %li
              .navbar-text
                = current_user.orgs.include?(@org) ? @org.name : "My Orgs"
          %li
            %a{href: "#"}
              = image_tag(current_user.avatar_url, size: '20x20')
              = current_user.name

          %li
            %a{href: auth_logout_path}
              %span.glyphicon.glyphicon-log-out
        - else
          %li
            %a.login{href: auth_facebook_path}
              .btn.btn-info.btn-xs
                Login